@model Foro.Pregunta

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entrada.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miembro.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PreguntaId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
