@model IEnumerable<Foro.Entrada>

@{
    ViewData["Title"] = "Index";
}

<h1>Entradas</h1>

<p>
    <a asp-action="Create">Crear una entrada</a>
</p>
<h3>Lista de Entradas con Preguntas Ordenadas por Likes</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Privada)</th>
            <th>@Html.DisplayNameFor(model => model.Miembro)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>Likes</th>
            <th>Preguntas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrada in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => entrada.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => entrada.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => entrada.Privada)</td>
                <td>@Html.DisplayFor(modelItem => entrada.Miembro.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => entrada.Categoria.Nombre)</td>
                <td>
                    @{
                        int totalLikes = 0;
                        if (entrada.Preguntas != null && entrada.Preguntas.Any())
                        {
                            totalLikes = entrada.Preguntas.Sum(p => p.Respuestas.Sum(r => r.Reacciones.Count(re => re.MeGusta == true)));
                        }
                        @totalLikes
                    }
                </td>
                <td>
                    @{
                        Pregunta preguntaPorEntrada = new ();
                        if (entrada.Preguntas != null && entrada.Preguntas.Any())
                        {
                            <h3>Preguntas:</h3>
                            <ul>
                                @foreach (var pregunta in entrada.Preguntas)
                                {
                                    preguntaPorEntrada = pregunta;

                                    <li>@preguntaPorEntrada.Descripcion</li>
                                    <li>@preguntaPorEntrada.Activa</li>
                                    <li>@preguntaPorEntrada.CantidadDeRespuestas</li>
                                }
                            </ul>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@entrada.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@entrada.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@entrada.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
