@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Foro.Entrada>

@{
    ViewData["Title"] = "Index";
    int? idEntradaConMasDislikes = ViewBag.EntradaConMasDislikesId as int?;
   
}

<h1 style="color: #A65341">Entradas</h1>

<p>
    @if (User.IsInRole(Config.MiembroRolName))
    {
        <a asp-action="Create" class="btn pink-button">Crear una entrada</a>

        <a asp-controller="Entradas" asp-action="MisEntradas" class="btn btn-purple">Mis Entradas</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>Estado</th>
            <th>Likes</th>
            <th>Dislikes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrada in Model.OrderBy(e => e.Fecha))
        {
            var isDislikedEntry = idEntradaConMasDislikes.HasValue && entrada.Id == idEntradaConMasDislikes.Value;

            int totalLikes = 0;
            int totalDislikes = 0;
            if (entrada.Preguntas != null && entrada.Preguntas.Any())
            {
                totalLikes = entrada.Preguntas.Sum(p => p.Respuestas.Sum(r => r.Reacciones.Count(re => re.MeGusta.HasValue && re.MeGusta.Value)));
                totalDislikes = entrada.Preguntas.Sum(p => p.Respuestas.Sum(r => r.Reacciones.Count(re => re.MeGusta.HasValue && !re.MeGusta.Value)));
            }

            <tr class="@(isDislikedEntry ? "table-danger" : "")">
                <td>@Html.DisplayFor(modelItem => entrada.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => entrada.Fecha)</td>
                <td>
                    @if ((bool)entrada.Privada)
                    {
                        @if (User.IsInRole(Config.MiembroRolName))
                        {
                            int userId = Int32.Parse(User.Claims.First().Value);
                            var miembroHabilitado = entrada.MiembrosHabilitados?.Any(mh => mh.MiembroId == userId && mh.Habilitado);
                            var miembroNoHabilitado = entrada.MiembrosHabilitados?.Any(mh => mh.MiembroId == userId && !mh.Habilitado);

                            var esMiEntrada = entrada.MiembroId == userId;

                            if (esMiEntrada)
                            {
                                <a asp-controller="Entradas" asp-action="Details" asp-route-id="@entrada.Id" class="btn btn-purple">Mi Entrada</a>
                                <a asp-controller="Entradas" asp-action="SolicitudesPendientes" asp-route-id="@entrada.Id" class="btn btn-purple">Solicitudes pendientes</a>

                            }
                            else
                            {

                                if (miembroHabilitado == true)
                                {
                                    <a asp-controller="Entradas" asp-action="Details" asp-route-id="@entrada.Id" class="btn peach-button">Aprobada</a>

                                }
                                else if (miembroNoHabilitado == true)
                                {
                                    <a class="btn privacy-btn privada">Pendiente de aprobación</a>

                                }
                                else
                                {
                                    <a id="btnAprobacion" asp-controller="Entradas" asp-action="SolicitarAprobacion" asp-route-id="@entrada.Id" class="btn privacy-btn privada">Privada</a>

                                }

                            }
                        }
                        else
                        {
                            <a id="btnAprobacion" asp-route-id="@entrada.Id" class="btn privacy-btn privada">Privada</a>

                        }
                    }
                    else
                    {
                        <a asp-controller="Entradas" asp-action="Details" asp-route-id="@entrada.Id" class="btn privacy-btn publica">Pública</a>
                    }


                </td>
                <td>@totalLikes</td>
                <td>@totalDislikes</td>
                <td>
                    
                    
                    @if (User.IsInRole(Config.AdministradorRolName))
                    {
                        @if ((bool)isDislikedEntry && totalDislikes >= Config.UMBRAL_DISLIKES)
                        {
                            <form method="post" asp-action="Delete" asp-route-id="@entrada.Id" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta entrada?');">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        }
                    }
                    
                </td>
            </tr>
      }
    </tbody>
</table>
