@model IEnumerable<Foro.Entrada>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear una entrada</a>
</p>
<h3>Lista de Entradas con Preguntas Ordenadas por Likes</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Privada)</th>
            <th>@Html.DisplayNameFor(model => model.Miembro)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>Likes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.Privada)</td>
                <td>@Html.DisplayFor(modelItem => item.Miembro.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.Nombre)</td>
                <td>
                    @{
                        int totalLikes = 0;
                        if (item.Preguntas != null && item.Preguntas.Any())
                        {
                            totalLikes = item.Preguntas.Sum(p => p.Respuestas.Sum(r => r.Reacciones.Count(re => re.MeGusta == true)));
                        }
                        @totalLikes
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
