@model IEnumerable<Foro.Entrada>
@{
    ViewData["Title"] = "Mis entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UsuarioId = 0;
    if (!string.IsNullOrEmpty(User.Claims.First().Value))
    {
        UsuarioId = Int32.Parse(User.Claims.First().Value);
    }
}

<h1 class="text-white">Entradas</h1>

<p>
    @if (User.IsInRole("Miembro"))
    {
        <a  asp-controller="Entradas" asp-action="Create">Crear Nueva Entrada</a>
    }
</p>

<table class="table">
    <thead class="text-black">
        <tr>
            <th>
                Categoría
            </th>
            <th>
                Título
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Entradas", new { id = item.Id })">@item.Titulo</a>
                </td>
                @if (User.IsInRole("Usuario"))
                {
                    <td>
                        <a  href="@Url.Action("Details", "Entradas", new { id = item.Id })">Detalles</a>
                        <a  href="@Url.Action("Delete", "Entradas", new { id = item.Id })">Eliminar</a>
                    </td>
                }
                else if (item.MiembroId == UsuarioId)
                {
                    <td>
                        <a  href="@Url.Action("Details", "Entradas", new { id = item.Id })">Detalles</a>
                        <a  href="@Url.Action("Delete", "Entradas", new { id = item.Id })">Eliminar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<p class="">Se encontraron: @Model.Count() Entradas en esta categoría</p>
<a asp-action="Index">Volver a la  lista</a>
