@model IEnumerable<MiembrosHabilitados>

@{
    ViewData["Title"] = "Solicitudes Pendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: #A65341">Solicitudes Pendientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Entrada</th>
            <th>Miembro</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solicitud in Model)
        {
            <tr class="peach-bg">
                <td>@solicitud.Entrada.Titulo</td>
                <td>@solicitud.MiembroId</td>
                <td>
                    <a asp-controller="MiembrosHabilitados" asp-action="AceptarSolicitud" asp-route-id="@solicitud.EntradaId" asp-route-id="@solicitud.MiembroId" class="btn btn-success">Aprobar</a>
                    <a asp-controller="MiembrosHabilitados" asp-action="RechazarSolicitud" asp-route-id="@solicitud.EntradaId" asp-route-id="@solicitud.MiembroId" class="btn btn-danger">Rechazar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

