@using Foro.Helpers
@using Foro.Models
@using Foro.Controllers
@using Foro.ViewModels




@model IEnumerable<Foro.Models.Usuario>



@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole(Config.AdministradorRolName))
{

    <h1 style="color: #A65341">Usuarios administradores</h1>

    <p>
        <a asp-controller="Account" asp-action="CrearAdmin" class="btn pink-button">Crear nuevo Administrador</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaAlta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                <th>Nombre de usuario
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

