@model Foro.Reaccion

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Reacción</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respuesta.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miembro.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeGusta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeGusta)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Volver a la lista</a>
</div>
