@model IEnumerable<Reaccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Reacción</h1>

<p>
    <a asp-action="Create">Crear una nueva reacción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miembro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeGusta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miembro.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeGusta)
            </td>
            <td>
            @*     @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
