@model IEnumerable<Reaccion>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole(Config.MiembroRolName))
{
    <h1 style="color: #A65341">Reacción</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Respuesta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Miembro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeGusta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Respuesta.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miembro.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @if ((bool)item.MeGusta)
                        {
                            <span class="text-success">Me gusta</span>
                        }
                        else
                        {
                            <span class="text-danger">No me gusta</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



