@model Foro.MiembrosHabilitados

@{
    ViewData["Title"] = "Borrar";
}

<h1 style="color: #A65341">Borrar</h1>

<h3>¿Quieres borrar a este miembro?</h3>
<div>
    <h4>Miembros Habilitados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entrada.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miembro.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EntradaId" />
        <input type="hidden" asp-for="MiembroId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> 
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
