@using Foro.Helpers
@using Foro.Models
@using Foro.Controllers
@using Foro.ViewModels


@model IEnumerable<Foro.Models.MiembrosHabilitados>

@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole(Config.MiembroRolName))
{


    <h1 style="color: #A65341">Miembros habilitados</h1>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Entrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Miembro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habilitado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entrada.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miembro.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habilitado)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>


}


