@model Foro.ViewModels.Home
@{
    ViewData["Title"] = "Foro";
}
<div class="container-fluid mt-3 p-3">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card peach-bg">
                <div class="card-header btn-primary">
                    <h3 class="text-center text-white">Top 5 de entradas con más preguntas y respuestas</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.Top5EntradasConMasPreguntaYRespuestas.Take(5))
                            {
                                <div class="card mb-3 peach-bg">
                                    <h5 class="card-title">@item.Titulo</h5>
                                    <p class="card-text">@item.Descripcion</p>
                                    @if (item.Privada.HasValue)
                                    {
                                        @if (!(bool)item.Privada)
                                        {
                                            <a asp-controller="Entradas" asp-action="details" asp-route-id="@item.Id" class="btn privacy-btn publica">Pública</a>
                                           
                                        }
                                        else
                                        {
                                            <form asp-controller="Entradas" asp-action="SolicitudesPendientes" method="get">
                                                <input type="hidden" name="entradaId" value="@item.Id" />
                                                <button type="submit" class="privacy-btn privada">
                                                    Privada
                                                </button>
                                            </form>
                                        }
                                    }

                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card peach-bg">
                <div class="card-header btn-primary">
                    <h3 class="text-center text-white">Top 5 de entradas más recientes</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.Top5EntradasMasRecientes)
                            {
                                <div class="card mb-3 peach-bg">
                                    <!-- Agrega la clase peach-bg aquí también -->
                                    <!-- Contenido de la tarjeta de entradas recientes -->
                                    <h5 class="card-title">@item.Titulo</h5>
                                    <p class="card-text">@item.Descripcion</p>
                                    @if (item.Privada.HasValue)
                                    {
                                        @if (!(bool)item.Privada)
                                        {
                                            <a asp-controller="Entradas" asp-action="details" asp-route-id="@item.Id" class="btn privacy-btn publica">Pública</a>

                                        }
                                        else
                                        {
                                            <form asp-controller="Entradas" asp-action="SolicitudesPendientes" method="get">
                                                <input type="hidden" name="entradaId" value="@item.Id" />
                                                <button type="submit" class="privacy-btn privada">
                                                    Privada
                                                </button>
                                            </form>
                                        }
                                    }
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card peach-bg">
                <div class="card-header btn-primary">
                    <h3 class="text-center text-white">Top 3 de miembros con más entradas en el último mes</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @if (Model.Top3MiembrosConMasEntradasUltimoMes != null)
                            {
                                @foreach (var item in Model.Top3MiembrosConMasEntradasUltimoMes)
                                {
                                    <div class="card mb-3 peach-bg">
                                        <!-- Agrega la clase peach-bg aquí también -->
                                        <!-- Contenido de la tarjeta de miembros con más entradas -->
                                        <h5 class="card-title">@item.NombreCompleto</h5>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="card mb-3 peach-bg">
                                    <!-- Agrega la clase peach-bg aquí también -->
                                    <h5 class="card-title text-center">No hay registros dentro del último mes</h5>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
