@model IEnumerable<Foro.Categoria>

@{
    ViewData["Title"] = "Categoría";
}

<h1>Categoría</h1>

<p>
    <a asp-action="Create">Crear una categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
