@model Foro.Miembro

@{
    ViewData["Title"] = "Detalles";
}

@if (User.IsInRole(Config.MiembroRolName))
{
    <h1 style="color: #A65341">Detalles</h1>

    <div>
        <h4>Miembro</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaAlta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaAlta)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index">Volver a la lista</a>
    </div>
}
